#taskbar {
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid var(--black);
  height: 100%;
  padding: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
